 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-text-1 {
  margin: 15px 20px 0 0;
}

.u-section-1 .u-shopping-cart-1 {
  height: 83px;
  width: 83px;
  margin: -144px 205px 0 auto;
}

.u-section-1 .u-icon-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -21px 0 0 933px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 57px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 733px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 513px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1727px;
  }

  .u-section-1 .u-shopping-cart-1 {
    margin-right: 154px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 333px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-1 .u-shopping-cart-1 {
    height: 41px;
    width: 41px;
    margin-top: -92px;
    margin-right: auto;
    margin-left: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -31px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-image-1 {
  min-height: 606px;
  background-image: url("images/fondo-cafeteria-blanco-negro_125540-817.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-gallery-1 {
  height: 303px;
  grid-gap: 17px 17px;
  width: 1127px;
  margin: 104px 0 60px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    height: 253px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    height: 581px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 1103px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1307px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 767px;
  }

  .u-section-2 .u-gallery-1 {
    height: 823px;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 245px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
} .u-section-4 {
  background-image: linear-gradient(#db545a, #f1c50e);
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 445px;
  margin: 23px auto 0;
}

.u-section-4 .u-line-1 {
  width: 342px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 12px 25px 0;
}

.u-section-4 .u-image-1 {
  min-height: 500px;
  background-image: url("images/Honduran-Margarita-Bread-1-1.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 360px;
  }

  .u-section-4 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 474px;
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 298px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 612px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 552px;
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 552px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 47px 0;
}

.u-section-5 .u-line-1 {
  width: 241px;
  transform-origin: left center 0px;
  margin: 4px 133px 0 auto;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 10px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-image-1 {
    min-height: 455px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-5 .u-line-1 {
    transform: rotate(360deg);
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-5 .u-image-1 {
    min-height: 349px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    margin-right: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-5 .u-image-1 {
    min-height: 476px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -75px;
  }

  .u-section-5 .u-image-1 {
    min-height: 288px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-6 {
  background-image: linear-gradient(#db545a, #f1c50e);
}

.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -72px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 516px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 92px 22px 0;
}

.u-section-6 .u-line-1 {
  width: 386px;
  transform-origin: left center 0px;
  margin: 11px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 36px 33px 0;
}

.u-section-6 .u-image-1 {
  min-height: 516px;
  background-image: url("images/dacquoise.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    margin-right: 22px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-line-1 {
    width: 328px;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -136px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-1 {
    width: 320px;
  }

  .u-section-6 .u-image-1 {
    min-height: 330px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 623px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 478px;
  margin: 1px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 570px;
  height: 483px;
  margin: -483px 0 0 auto;
}

.u-section-7 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 8px auto 0 0;
  padding: 8px 83px 8px 82px;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 44px -28px 24px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 394px;
  }

  .u-section-7 .u-image-2 {
    width: 470px;
    height: 395px;
    margin-top: -395px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 511px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 302px;
  }

  .u-section-7 .u-image-2 {
    width: 360px;
    height: 298px;
    margin-top: -306px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 934px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1362px;
  }

  .u-section-7 .u-image-1 {
    height: 248px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 709px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 17px;
    margin-right: -39px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-7 .u-image-2 {
    height: 282px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 616px;
    margin-left: -35px;
    padding: 3px 26px 4px 24px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: -30px;
    margin-right: 0;
  }
}