 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/5f6e96ba2808860f78af45ab0c63141c695d3cf0c11e4fe1a67c170c297a3fb6cfa04c63fefd2edcc8bc4aad13c56c5428486f01f07d5048b3ce86_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2704px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  width: 764px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 894px;
  margin: 2px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 902px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-text-3 {
  margin: 0 38px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 902px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 53px 0 7px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 902px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -44px auto 0 -830px;
}

.u-section-1 .u-repeater-1 {
  min-height: 41px;
  grid-template-columns: calc(33.3333% - 64px) calc(33.3333% - 64px) calc(33.3333% - 64px);
  grid-gap: 96px 96px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 148px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 148px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 0 148px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 17px 25px 0 -6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 744px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 744px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 744px;
  }

  .u-section-1 .u-list-1 {
    width: 247px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 34px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 177px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 78px;
    grid-template-columns: calc(50% - 48px) calc(50% - 48px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1695px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}